<section class="popular-swiper section-style">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title popular-swipe__title">
        Популярные товары
      </h2>
      <a href="" class="title-link">
        Смотреть все товары
      </a>
    </div>

    <!-- <div class="swiper-area"> -->

      <div class="swiper swiper-discounts">
        <div class="swiper-wrapper">
          <div class="swiper-slide card-product">
            {% include "html/includes/card.html" %}
          </div>
          <div class="swiper-slide card-product">
            {% include "html/includes/card.html" %}
          </div>
          <div class="swiper-slide card-product">
            {% include "html/includes/card.html" %}

          </div>
          <div class="swiper-slide card-product">
            {% include "html/includes/card.html" %}
          </div>
          <div class="swiper-slide card-product">
            {% include "html/includes/card.html" %}

          </div>
          <div class="swiper-slide card-product">
            {% include "html/includes/card.html" %}
          </div>
        </div>
      </div>

      <div class="swiper-pagination swiper-discounts__swiper-pagination">

      </div>
    <!-- </div> -->





  </div>
</section>