<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="description" content="{{ meta_description }}">
  <!--    <script src="bootstrap/dist/js/bootstrap"></script>-->

  <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">

  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>

<body {% if bodyClass %}class="{{ bodyClass }}" {% endif %} id="body">

  {% include "html/includes/header.html" %}
 


  {% block content %}{% endblock %}

  {% include "html/includes/footer.html" %}
  {% include "html/includes/mob-menu.html" %}


  <!--<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>-->

  <script src="assets/libs/jquery.js"></script>
  <script src="assets/libs/jquery-ui.js"></script>
  <script src="assets/libs/jquery-ui-touch.js"></script>
  <script src="assets/libs/rangeslider.js"></script>
  <script src="assets/libs/aos.js"></script>
  <script src="assets/libs/swiper.js"></script>
  <script src="assets/libs/select2.js"></script>
  <!-- <script src="assets/libs/popper.js"></script>
  <script src="assets/libs/tippy.js"></script> -->
  <script src="assets/libs/fancyapps.js"></script>
  <script src="assets/libs/air-datepicker.js"></script>
  <script src="assets/js/app.js"></script>


  <script>
    AOS.init()
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js"
    integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous">
    </script>


  <script>

    window.addEventListener('scroll', function () {

      SmoothScroll({
        // Время скролла 400 = 0.4 секунды
        animationTime: 800,
        // Размер шага в пикселях
        stepSize: 75,

        // Дополнительные настройки:

        // Ускорение
        accelerationDelta: 30,
        // Максимальное ускорение
        accelerationMax: 2,

        // Поддержка клавиатуры
        keyboardSupport: true,
        // Шаг скролла стрелками на клавиатуре в пикселях
        arrowScroll: 50,

        // Pulse (less tweakable)
        // ratio of "tail" to "acceleration"
        pulseAlgorithm: true,
        pulseScale: 4,
        pulseNormalize: 1,

        // Поддержка тачпада
        touchpadSupport: true,
      })
    })

  </script>

  <script type="text/javascript">
    //Дождёмся загрузки API и готовности DOM.
    ymaps.ready(init);

    function init() {
      // в этой версии координаты просто элементы массива (и они поменяны местами)
      if (document.querySelector('.map') === null) return
      let map = document.querySelector('.map')
      let destinations = {
        'OR': [52.973583, 36.096968], //орел
        'KOM': [52.937419, 36.041649], //Магазин на Комсомольской, 270
        'MIX': [52.993878, 36.114596], //Магазин на Михалицына, 10
        'LOM': [52.981875, 36.069292], //Магазин на Ломоносова, 6Б
      },

        // Создание экземпляра карты и его привязка к контейнеру с
        // заданным id ("map").
        myMap = new ymaps.Map('map', {
          // При инициализации карты обязательно нужно указать
          // её центр и коэффициент масштабирования.
          center: destinations['OR'], // Московское шоссе, д.173
          zoom: 11.5
        });
      // куда скакать
      function clickGoto() {
        // город

        let pos = this.getAttribute('data-name');
        map.scrollIntoView({
          block: "start",
          behavior: "smooth"
        })

        // переходим по координатам


        myMap.setZoom(16, { duration: 700 }).then(() => {
          myMap.panTo(destinations[pos], {
            flying: 1,
            checkZoomRange: true
          });

        });
        return false;
      }
      // навешиваем обработчики
      let col = document.getElementsByClassName('sh-card__btn');
      for (let i = 0, n = col.length; i < n; ++i) {
        col[i].onclick = clickGoto;
      }

      // Добавление метки
      // https://tech.yandex.ru/maps/doc/jsapi/2.1/ref/reference/Placemark-docpage/
      let myPlacemark = new ymaps.Placemark(destinations['KOM'], {}, {
        //опции
        iconLayout: 'default#image',
        iconImageHref: '../assets/img/img-49.svg',
        iconImageSize: [35, 45],
        iconImageOffset: [-20, -50],
      });
      let myPlacemark1 = new ymaps.Placemark(destinations['MIX'], {}, {
        //опции
        iconLayout: 'default#image',
        iconImageHref: '../assets/img/img-49.svg',
        iconImageSize: [35, 45],
        iconImageOffset: [-20, -50],
      });
      let myPlacemark2 = new ymaps.Placemark(destinations['LOM'], {}, {
        //опции
        iconLayout: 'default#image',
        iconImageHref: '../assets/img/img-49.svg',
        iconImageSize: [35, 45],
        iconImageOffset: [-20, -50],
      });
      // После того как метка была создана, добавляем её на карту.
      myMap.geoObjects.add(myPlacemark);
      myMap.geoObjects.add(myPlacemark1);
      myMap.geoObjects.add(myPlacemark2);
    }
  </script>

</body>

</html>