{% set title = "Ссылки" %}
{% set bodyClass = "is-main" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<ul class="index-nav container">
  <li>
    <a href="index-1.html">Заглушка - index-1</a>
  </li>
  <li>
    <a href="index-2.html">Главная - index-2</a>
  </li>
  <li>
    <a href="index-3.html">Карточка товара - index-3</a>
  </li>
  <li>
    <a href="index-4.html">404- index-4</a>
  </li>
  <li>
    <a href="index-5.html">нет результатов поиска - index-5</a>
  </li>
  <li>
    <a href="index-6.html">политика - index-6</a>
  </li>
  <li>
    <a href="index-7.html">контакты - index-7</a>
  </li>
  <li>
    <a href="index-8.html">фильтры - index-8</a>
  </li>
  <li>
    <a href="index-8-horizontal.html">фильтры горизонтальные карточки - index-8-horizontal</a>
  </li>
  <li>
    <a href="index-9.html">корзина - index-9</a>
  </li>
  <li>
    <a href="index-10.html">О компании - index-10</a>
  </li>



</ul>

{% endblock %}